@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

*{
  font-family: "Outfit", sans-serif;
}

.image{
    animation-name: myAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes myAnimation {
  from {opacity: 60%;}
  to {opacity: 100%;}
}
