@import "tailwindcss";
@plugin "daisyui";

.image{
    animation-name: myAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes myAnimation {
  from {opacity: 0;}
  to {opacity: 1;}
}
