@import "tailwindcss";
@plugin "daisyui";

.image{
    animation-name: myAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes myAnimation {
  from {opacity: 60%;}
  to {opacity: 100%;}
}
